.footer {
  height: 300px;
  color: white;
  background-color: #00ac87;
  text-align: center;

  .footer-title {
    padding-top: 7%;
    font-size: 18px;
  }

  .title-firstWord {
    color: #9ee8d1;
    opacity: 0.6;
  }

  .footer-message {
    font-size: 12px;
  }

  .first-line {
    margin-top: 1%;
  }
}

/* 平板 */
@media all and (max-width: 1024px) {
  .footer {
    height: 250px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    height: 200px;
  }
}
