.booking {
    width: 100%;
    margin-top: 50px;
    .option {
        width: 500px;
        height: 100px;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        border-top: 2px solid #d8fae9;
        border-bottom: 2px solid #d8fae9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .number {
            width: 30px;
            font-family: GothamNarrow-Bold;
            font-size: 30px;
            color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

        .number-active {
            font-size: 50px;
            color: rgba(0, 0, 0, 0.8);
            margin-top: -15px;
        }
    }
    .content {
        margin: auto;
        height: 500px;
    }

    @font-face {
        font-family: "GothamNarrow-Bold";
        src: url("../fonts/myfont/GothamNarrow-Bold.ttf");
    }
}