.forgetPassword {
  color: #9a9691;
  min-height: 500px;
}
.forgetPassword .row {
  margin: 0;
}
.forgetPassword .flex {
  display: flex;
}
.forgetPassword .flex-grow {
  flex-grow: 1;
}
.forgetPassword .flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.forgetPassword .flex-rightend {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.forgetPassword .title {
  position: relative;
  margin: auto;
  margin-top: 20px;
  font-family: gotham;
  font-weight: lighter;
  font-size: 40px;
  /* W3C */
}
.forgetPassword .content {
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
}
.forgetPassword .content .inputGroup .inputItem {
  padding: 0;
  flex-wrap: wrap;
  margin-top: 20px;
}
.forgetPassword .content .inputGroup .inputItem .describe {
  font-size: 14px;
  font-weight: bolder;
  color: #9b9792;
  margin-left: 40px;
}
.forgetPassword .content .inputGroup .inputItem input {
  padding-left: 5px;
  width: 80%;
  font-size: 20px;
  height: 40px;
  margin-left: 40px;
  border: solid #e4e2df 1px;
}
.forgetPassword .content .faceBookBtn {
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  height: 30px;
  background: #3d5a94;
  color: white;
  font-family: "xt-gothamLight";
  border-radius: 10px;
}
.forgetPassword .content .faceBookBtn span {
  margin-right: 10px;
}
.forgetPassword .content .faceBookBtn .fa-facebook {
  font-size: 17px;
}
.forgetPassword .content .hint {
  width: 100%;
  height: 60px;
  font-family: "xt-gothamLight";
  font-weight: bold;
}
.forgetPassword .content .hint .text {
  cursor: pointer;
}
.forgetPassword .content .forgetPasswordBtn {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
  color: white;
  height: 40px;
  background: #64d2a3;
  font-size: 14px;
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  .forgetPassword {
    max-width: 300px;
  }
  .forgetPassword .title {
    margin-top: 10px;
    font-size: 26px;
  }
  .forgetPassword .content .inputGroup .inputItem .describe {
    margin-left: 30px;
  }
  .forgetPassword .content .inputGroup .inputItem input {
    margin-left: 30px;
  }
}
@media only screen and (min-height: 1000px) {
  .forgetPassword {
    min-height: 700px;
  }
}
@media only screen and (min-height: 1300px) {
  .forgetPassword {
    min-height: 1000px;
  }
}
