.home {

    width: 100%;

    .home-title {
        margin-top: -1px;
        //position: relative;
        img {
            width: 100%;
        }

    }

    .booking-btn {
        width: 200px;
        height: 40px;
        margin: auto;
        background-color: #00d6a0;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        margin-top: 60px;
        outline: none;
    }

    .date-booking {
        width: 40%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5%;
        .firsttitle {
            color: #6de5c4;
            font-size: 28px;
        }

        .secondtitle {
            color: #6f6f6c;
            font-size: 18px;
            margin-top: -5px;
        }

        .date-choose {
            width: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10%;
            color: rgba(0, 0, 0, 0.2);
            font-weight: bold;
            input {
                width: 250px;
                height: 35px;
                margin-top: -5px;
                border: 1px solid #e5e4e3;
                padding-left: 15px;
                &::placeholder {
                    color: rgba(0, 0, 0, 0.2);
                    font-weight: bold;
                }
            }

            .choose-time {
                margin-top: 10px;
            }
        }
    }

    @media only screen and (max-width: 950px) {
        .date-booking {
            .firsttitle {
                font-size: 24px;
            }
            .secondtitle{
                font-size: 16px;
            }
        }
    }

    @media only screen and (max-width: 817px) {
        .date-booking {
            .firsttitle {
                font-size: 20px;
            }
            .secondtitle{
                font-size: 14px;
            }
        }
    }

    .date-message {
        width: 100%;
        height: 150px;
        margin-top: 50px;
        background-color: #d2fcea;
        display: flex;
        justify-content: space-around;

        .location, .available, .time {
            display: flex;
            align-items: center;
            .fa-home, .fa-calendar, .fa-clock-o {
                color: #00d5a1;
                font-size: 50px !important;
            }
            .information {
                width: 170px;
                margin-left: 10px;
                margin-top: 10px;
            }
        }

    }

    .date-therapists {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .title {
            color: #6de5c4;
            font-size: 28px;
        }

        .therapists-img {
            width: 100%;
            margin: auto;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            img {
                width: 130px;
                height: 130px;
                border: 1px solid #d2fae8;
                border-radius: 50%;
                margin: 20px;
            }
        }
    }

    @media only screen and (max-width: 832px){
        .date-therapists{
            .title{
                font-size: 26px;
            }
        }
    }

    @media only screen and (max-width: 774px){
        .date-therapists{
            .title{
                font-size: 25px;
            }
        }
    }

    .massage-type {
        width: 100%;
        height: 1100px;
        margin-top: 50px;
        background-color: #f0fdf7;

        .type-title {
            padding-top: 50px;
            width: 60%;
            margin: auto;
            color: #6de5c4;
            font-size: 28px;
            text-align: center;
        }

        .type-content {
            width: 700px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .content-repeat {
                margin-top: 100px;
                width: 300px;
                display: flex;
                img {
                    width: 50px;
                    height: 50px;
                    margin-left: 20px;
                }

                .description {
                    width: 250px;
                    margin-left: 20px;
                    .title {
                        color: #63d2a3;
                        font-size: 18px;
                    }

                    .content {
                        color: #aaacab;
                    }
                }
            }
        }

        .center-location {
            width: 200px;
            margin: auto;
        }
    }

    .simple-pricing {
        width: 300px;
        height: 450px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .eg-title {
            padding-top: 10%;
            color: #6de5c4;
            font-size: 28px;
        }

        .eg-pricingList {
            width: 350px;
            height: 130px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 10%;

            .eg-pricing {
                display: flex;
                width: 350px;
                height: 40px;
                border-bottom: 1px solid #d2fcea;
                padding-top: 10px;
                .eg-time {
                    width: 50px;
                    text-align: right;
                    color: #00d6a1;
                    font-size: 18px;
                    font-weight: bolder;
                    margin-left: 15%;
                }

                .eg-mnt {
                    color: #cccac8;
                    font-size: 16px;
                    margin-left: 5px;
                }

                .eg-price {
                    color: #cccac8;
                    font-size: 18px;
                    margin-left: 40%;
                }
            }
        }
    }

    .faq {
        width: 100%;
        height: 1750px;
        background-color: #f0fdf7;
        .faq-title {
            padding-top: 70px;
            width: 30%;
            margin: auto;
            color: #6de5c4;
            font-size: 28px;
            text-align: center;
        }

        .faq-content {
            margin: auto;
            margin-top: 80px;
            width: 750px;
            display: flex;
            flex-wrap: wrap;
            .title {
                color: #64d2a4;
                font-size: 20px;
                margin-top: 10px;
            }
            .content {
                margin-top: 10px;
            }
        }

    }

    @media only screen and (max-width: 963px){
        .faq{
            .faq-title{
                font-size: 24px;
            }
        }
    }

    @media only screen and (max-width: 825px){
        .faq{
            height: 2000px;
            .faq-title{
                font-size: 22px;
            }
            .faq-content {
                width: 600px;
            }
        }
    }

    .contact {
        width: 400px;
        height: 900px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .contact-title {
            padding-top: 10%;
            color: #6de5c4;
            font-size: 28px;
        }

        .contact-message {
            width: 400px;
            margin-top: -10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 16px;
            .message2 {
                margin-top: -20px;
            }
        }

        .phonenum {
            display: flex;
            font-size: 14px;
            .phonenum-deepcolor {
                font-weight: bolder;
            }
        }

        .contact-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 400px;
            .form-name, .form-email {
                width: 350px;
                height: 30px;
                color: #e7e5e2;
                border: 1px solid #e5e4e3;
            }

            .form-content {
                width: 350px;
                height: 400px;
                border: 1px solid #e5e4e3;
            }
        }
    }
}