@media screen and (max-width: 400px) {
  .massageTherapist .intro .item {
    width: 360px;
  }
  .massageTherapist .intro .item .picBox {
    height: 170px;
    width: 140px;
  }
  .massageTherapist .intro .item .picBox .pic {
    height: 160px;
    width: 130px;
    border: solid 1px black;
  }
  .massageTherapist .intro .item .contentBox {
    width: 200px;
  }
  .massageTherapist .fontLg {
    font-size: 16px;
  }
  .massageTherapist .fontSm {
    font-size: 2px;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .massageTherapist .intro .item {
    width: 520px;
  }
  .massageTherapist .intro .item .picBox {
    height: 170px;
    width: 140px;
  }
  .massageTherapist .intro .item .picBox .pic {
    height: 150px;
    width: 130px;
    border: solid 1px black;
  }
  .massageTherapist .intro .item .contentBox {
    width: 230px;
  }
  .massageTherapist .fontLg {
    font-size: 16px;
  }
  .massageTherapist .fontSm {
    font-size: 6px;
  }
}
@media screen and (min-width: 500px) {
  .massageTherapist .intro .item {
    width: 560px;
  }
  .massageTherapist .intro .item .picBox {
    height: 190px;
    width: 160px;
  }
  .massageTherapist .intro .item .picBox .pic {
    height: 170px;
    width: 150px;
    border: solid 1px black;
  }
  .massageTherapist .intro .item .contentBox {
    width: 270px;
  }
  .massageTherapist .fontLg {
    font-size: 20px;
  }
  .massageTherapist .fontSm {
    font-size: 11px;
  }
}
.massageTherapist .font {
  display: flex;
  width: 89%;
  margin: auto;
  flex-direction: column;
}
.massageTherapist .font .theme {
  width: 100%;
  height: 200px;
  flex-direction: column;
}
.massageTherapist .font .theme .font-sx {
  font-size: 20px;
}
.massageTherapist .font .theme .font-lx {
  font-size: 40px;
}
.massageTherapist .intro {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.massageTherapist .intro .item {
  height: 195px;
}
.massageTherapist .intro .item .contentBox {
  height: 190px;
}
.massageTherapist .intro .item .contentBox .content {
  padding: 5px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  text-align: justify;
  text-justify: distribute;
}
.massageTherapist .intro .bgBlack {
  background-color: #0f0f0f;
}
.massageTherapist .intro .bgWhite {
  background-color: #9acfea;
}
.massageTherapist .centerBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.massageTherapist .font-italic {
  font-style: italic;
}
.massageTherapist .font-gothem {
  font-family: gothem;
  transform: scale(1, 0.88);
  letter-spacing: -0.02em;
  text-align: center;
}
.massageTherapist .flexRow {
  display: flex;
  flex-direction: row;
}
.massageTherapist .flexResRow {
  display: flex;
  flex-direction: row-reverse;
}
.massageTherapist .font-bold {
  font-weight: 200;
}
.massageTherapist .font-bolder {
  font-weight: 400;
}
.massageTherapist .font-bolderest {
  font-weight: 500;
}
.massageTherapist .centerContent {
  text-align: center;
}
.massageTherapist .grey {
  color: #999;
}
.massageTherapist .green {
  color: #63d2a3;
}
.massageTherapist .height {
  height: 540px;
}
.massageTherapist .mar-xxtop {
  margin-top: 20px;
}
.massageTherapist .marXXBottom {
  margin-bottom: 10px;
}
