.signUp {
  //________________________________________defaultSetting___________________________
  .row {
    margin: 0px;
  }
  //________________________________________禁止bootstrap row的负margin______________
  .flex {
    display: flex;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .flex-rightend {
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }

  //________________________________________flex设置______________
  max-width: 400px;
  margin: auto;
  color: #9a9691;
  .title {
    margin-top: 20px;
    font-family: gothem;
    font-weight: lighter;
    font-size: 50px;
    transform: scale(1, 0.9); /* W3C */
  }
  .inputGroup {

    .inputItem {
      padding: 0px;
      flex-wrap: wrap;
      margin-top: 20px;
      .describe {
        font-size: 17px;
        font-weight: bold;
      }
      input {
        width: 100%;
        font-size: 30px;
        height: 50px;
        border: solid #9a9691 1px;
      }
    }
  }
  .faceBookBtn {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    background: #3d5a94;
    color: white;
    font-family: gothem;
    font-weight: lighter;
    border-radius: 10px;
    span{
      margin-right: 10px;
    }
    .fa-facebook{
      font-size: 17px;
    }

  }
  .signUpBtn{
    margin-top: 30px;
    color: white;
    width: 100%;
    height: 50px;
    background: #64d2a3;
    font-size: 20px;
    font-weight: bold;
  }
  .itemAgreement{
    flex-wrap: wrap;

  }

}