//-----------------------------------------------4个step公用的css-------------------------------------------------------
.step-title {
    text-align: center;
    font-size: 41px;
    color: rgba(0, 0, 0, 0.4);
    height: 100px;
    line-height: 100px;
    font-family: xt-gothamLight;
    transform: scale(0.8, 0.9);
}

.step-btn {
    display: block;
    width: 220px;
    height: 45px;
    line-height: 45px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #64d2a3;
    color: white;
    outline: none;
    border: none;
}

.step-btn:active {
    border: 1px solid #999999;
}

.step-tips {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
}

.step-back {
    width: 65px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    .left-icon {
        font-size: 30px;
        font-weight: 100;
    }

    .right-font {
        font-size: 18px;
        line-height: 35px;
        font-weight: 700;
    }
}

//-----------------------------------------------4个step各自的css-------------------------------------------------------
.step1 {

    .datetime {
        width: 280px;
        height: 200px;
        margin: auto;

        input {
            height: 40px;
            width: 100%;
            outline: none;
            border: 2px solid #e9e9e9;
            padding-left: 10px;
            color: rgba(0, 0, 0, 0.2);
            font-weight: bold;
            &::placeholder {
                color: rgba(0, 0, 0, 0.2);
            }
        }

        .date {

        }

        .time {
            margin-top: 20px;
        }
    }

}

.step2 {

    .choose {
        width: 280px;
        height: 200px;
        margin: auto;

        .choose-select {
            height: 40px;
            width: 100%;
            margin-bottom: 10px;
            border-radius: 0;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.4);

            .choose-item {
                display: flex;
                justify-content: space-between;
            }
        }

        .choose-option {
            width: 100%;

            a {
                width: 100%;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
            }

        }
    }

    .therapist {

        .title,
        .available {
            width: 200px;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            margin: auto;
            margin-top: 20px;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
        }

        .available {
            font-size: 25px;
            margin-bottom: 35px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.6);
        }

        .people {
            width: 500px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 40px;

            .img {
                margin: 10px;
                margin-bottom: 0;
                width: 100px;
                height: 120px;
                border: 1px solid #c2c2c2;
                cursor: pointer;
            }
            .img-active {
                border: 5px solid #64d2a5;
            }

            .name {
                text-align: center;
                color: #67d2a4;
                font-weight: bold;
            }
        }

        .intro {
            width: 500px;
            margin: auto;
            margin-bottom: 20px;
            padding: 20px 30px 40px 30px;
            background-color: #f2fdf7;

            .intro-name {
                font-size: 20px;
                font-weight: bold;
                color: #28ab8b;
            }
            .intro-content {
                font-size: 16px;
                word-break: break-all;
                hyphens: auto;
            }
        }
    }

    .tip {
        width: 300px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        color: #999999;
    }

}

.step3 {
    color: #9a9691;
    min-height: 500px;
    .row {
        margin: 0px;
    }
    //________________________________________禁止bootstrap row的负margin______________
    .flex {
        display: flex;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .flex-center {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .flex-rightend {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
    }
    .flex-verticalAlign {
        display: flex;
        align-content: center;
        align-items: center;
    }
    //________________________________________flex设置______________
    .title {
        position: relative;
        margin: auto;
        margin-top: 20px;
        font-family: gotham;
        font-weight: lighter;
        font-size: 30px;
        /* W3C */
    }

    .content {
        max-width: 300px;
        margin: auto;
        margin-bottom: 50px;
        .radioInputGroup {
            margin-top: 30px;
            position: relative;
            .radioInputItem {
                padding-left: 30px;
                font-size: 20px;
                height: 50px;
                input {
                    cursor: pointer;
                    margin: 0px;
                    margin-right: 10px;
                }
                &:hover {
                    background: #d9fbea;
                }
                input[type=radio] {
                    position: absolute;
                    left: 38px;
                    opacity: 0;
                    width: .9em;
                    height: .9em;
                }
                input[type=radio] + *:before {
                    content: "";
                    display: inline-block;
                    margin: 0 0.4em;
                    /* Make some horizontal space. */
                    width: .8em;
                    height: .8em;
                    border-radius: 0.6em;
                    box-shadow: 0px 0px 0px .5px #888;
                    /* An outer circle. */
                    /* No inner circle. */
                    background-color: #ffffff;
                    margin-top: 6px;
                    margin-right: 15px;
                    /* Inner color. */
                }
                input[type=radio]:checked + *:before {
                    box-shadow: 0px 0px 0px .5px #888, inset 0px 0px 0px 4px #fff;
                    /* An inner circle with above inner color.*/

                    background-color: #a1a1a1;
                    /* The dot color */
                }
                label{
                    font-weight: normal;
                    cursor: pointer;
                }
            }
        }
        .inputGroup {

            .inputItem {
                padding: 0px;
                flex-wrap: wrap;
                margin-top: 20px;
                margin-left: 10px;
                width: 280px;
                .describe {
                    font-size: 17px;
                }
                input {
                    padding-left: 5px;
                    width: 100%;
                    font-size: 30px;
                    height: 40px;
                    border: solid #9a9691 1px;
                }
            }
        }
        .divide {
            margin-top: 20px;
            .describe {
                font-size: 20px;
                margin: 10px;
            }
        }
        .faceBookBtn {
            cursor: pointer;
            width: 100%;
            margin-top: 20px;
            height: 30px;
            background: #3d5a94;
            color: white;
            font-family: "xt-gothamLight";
            border-radius: 10px;
            span {
                margin-right: 10px;
            }
            .fa-facebook {
                font-size: 17px;
            }
        }
        .hint {
            width: 100%;
            height: 60px;
            font-family: "xt-gothamLight";
            font-weight: bold;
            .text {
                cursor: pointer;
            }
        }
        .forgetPasswordBtn {
            margin-top: 30px;
            cursor: pointer;
            color: white;
            width: 100%;
            height: 50px;
            background: #64d2a3;
            font-size: 17px;
            font-weight: bold;
        }
        .itemAgreement {

            font-size: 10px;
        }
        .step-btn {
            width: 260px;
            margin-bottom: 10px;
        }
        .signUp {
            margin-top: 60px;
        }
    }
}

.step4 {

    input,
    textarea {
        height: 40px;
        width: 100%;
        outline: none;
        border: 2px solid #e9e9e9;
        padding-left: 10px;
        color: rgba(0, 0, 0, 0.2);
        font-weight: bold;
        &::placeholder {
            color: rgba(0, 0, 0, 0.2);
        }
        margin-bottom: 20px;
    }
    textarea {
        height: 150px;
        resize: none;
    }

    .location,
    .check-out {
        width: 280px;
        margin: auto;
    }

    .location {

        .state-zip {
            display: flex;
            justify-content: space-between;

            .state,
            .zip {
                width: 120px;
            }
        }
    }

    .check-out {

        .date-code {
            display: flex;
            justify-content: space-between;

            .expiration-date,
            .security-code {
                width: 120px;
            }
        }
        .gift-apply {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .gift {
                width: 120px;
            }
            .apply {
                width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                background-color: #64d2a3;
                color: white;
                outline: none;
                border: none;
                cursor: pointer;
            }
            .apply:active {
                border: 1px solid #999999;
            }
        }

        .order-summary {
            margin-top: 10px;
            margin-bottom: 50px;

            .summary {
                width: 280px;
                box-sizing: border-box;
                border: 2px solid #e7e7e7;

                .order,
                .total {
                    box-sizing: border-box;
                    padding-left: 10px;
                    font-weight: bold;
                }

                .order {
                    height: 35px;
                    line-height: 35px;
                    border-bottom: 2px solid #e1fced;
                    color: rgba(0, 0, 0, 0.3);
                }

                .total {
                    height: 50px;
                    line-height: 50px;
                    color: #64d2a3;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 30px;
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    //手机用
    .step3 {
        overflow: hidden;
        max-width: 250px;
        .title {
            font-size: 15px;
        }
    }

}

