.step-title {
  text-align: center;
  font-size: 41px;
  color: rgba(0, 0, 0, 0.4);
  height: 100px;
  line-height: 100px;
  font-family: xt-gothamLight;
  transform: scale(0.8, 0.9);
}
.step-btn {
  display: block;
  width: 220px;
  height: 45px;
  line-height: 45px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: #64d2a3;
  color: white;
  outline: none;
  border: none;
}
.step-tips {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}
.step1 .datetime {
  width: 280px;
  height: 200px;
  margin: auto;
}
.step1 .datetime input {
  height: 40px;
  width: 100%;
  outline: none;
  border: 2px solid #e9e9e9;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.step1 .datetime input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.step1 .datetime .time {
  margin-top: 20px;
}
.step2 .choose {
  width: 280px;
  height: 200px;
  margin: auto;
}
.step2 .choose .choose-select {
  border-radius: 0;
  height: 40px;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  margin-bottom: 10px;
}
.step2 .choose .choose-select .choose-item {
  display: flex;
  justify-content: space-between;
}
.step2 .choose .choose-option {
  width: 100%;
}
.step2 .choose .choose-option a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.step2 .therapist .title,
.step2 .therapist .available {
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
.step2 .therapist .available {
  font-size: 25px;
  margin-bottom: 35px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.step3 {
  color: #9a9691;
  min-height: 500px;
}
.step3 .row {
  margin: 0px;
}
.step3 .flex {
  display: flex;
}
.step3 .flex-grow {
  flex-grow: 1;
}
.step3 .flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.step3 .flex-rightend {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
.step3 .flex-verticalAlign {
  display: flex;
  align-content: center;
  align-items: center;
}
.step3 .title {
  position: relative;
  margin: auto;
  margin-top: 20px;
  font-family: gotham;
  font-weight: lighter;
  font-size: 30px;
  /* W3C */
}
.step3 .content {
  max-width: 300px;
  margin: auto;
  margin-bottom: 50px;
}
.step3 .content .radioInputGroup {
  margin-top: 30px;
  position: relative;
}
.step3 .content .radioInputGroup .radioInputItem {
  padding-left: 30px;
  font-size: 20px;
  height: 50px;
}
.step3 .content .radioInputGroup .radioInputItem input {
  cursor: pointer;
  margin: 0px;
  margin-right: 10px;
}
.step3 .content .radioInputGroup .radioInputItem:hover {
  background: #d9fbea;
}
.step3 .content .radioInputGroup .radioInputItem input[type=radio] {
  position: absolute;
  left: 38px;
  opacity: 0;
  width: .9em;
  height: .9em;
}
.step3 .content .radioInputGroup .radioInputItem input[type=radio] + *:before {
  content: "";
  display: inline-block;
  margin: 0 0.4em;
  /* Make some horizontal space. */
  width: .8em;
  height: .8em;
  border-radius: 0.6em;
  box-shadow: 0px 0px 0px .5px #888;
  /* An outer circle. */
  /* No inner circle. */
  background-color: #ffffff;
  /* Inner color. */
}
.step3 .content .radioInputGroup .radioInputItem input[type=radio]:checked + *:before {
  box-shadow: 0px 0px 0px .5px #888, inset 0px 0px 0px 3px #fff;
  /* An inner circle with above inner color.*/
  background-color: #a1a1a1;
  /* The dot color */
}
.step3 .content .inputGroup .inputItem {
  padding: 0px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.step3 .content .inputGroup .inputItem .describe {
  font-size: 17px;
}
.step3 .content .inputGroup .inputItem input {
  padding-left: 5px;
  width: 100%;
  font-size: 30px;
  height: 50px;
  border: solid #9a9691 1px;
}
.step3 .content .divide {
  margin-top: 20px;
}
.step3 .content .divide .describe {
  font-size: 20px;
  margin: 10px;
}
.step3 .content .faceBookBtn {
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  height: 30px;
  background: #3d5a94;
  color: white;
  font-family: "xt-gothamLight";
  border-radius: 10px;
}
.step3 .content .faceBookBtn span {
  margin-right: 10px;
}
.step3 .content .faceBookBtn .fa-facebook {
  font-size: 17px;
}
.step3 .content .hint {
  width: 100%;
  height: 60px;
  font-family: "xt-gothamLight";
  font-weight: bold;
}
.step3 .content .hint .text {
  cursor: pointer;
}
.step3 .content .forgetPasswordBtn {
  margin-top: 30px;
  cursor: pointer;
  color: white;
  width: 100%;
  height: 50px;
  background: #64d2a3;
  font-size: 17px;
  font-weight: bold;
}
.step3 .content .itemAgreement {
  font-size: 10px;
}
.step3 .content .step-btn {
  width: 240px;
}
.step3 .content .signUp {
  margin-top: 60px;
}
@media only screen and (max-width: 500px) {
  .step3 {
    overflow: hidden;
    max-width: 250px;
  }
  .step3 .title {
    font-size: 15px;
  }
}
