.massage-type {
  width: 100%;
  height: 1200px;
}
.massage-type .type-title {
  font-family: Gotham Rounded Book;
  letter-spacing: -2px;
  padding-top: 70px;
  width: 60%;
  margin: auto;
  color: #6fd5a9;
  font-size: 28px;
  text-align: center;
}
.massage-type .type-content {
  width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.massage-type .type-content .content-repeat {
  margin-top: 100px;
  width: 300px;
  display: flex;
}
.massage-type .type-content .content-repeat img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.massage-type .type-content .content-repeat .description {
  font-family: Gotham Rounded Book;
  width: 250px;
  margin-left: 20px;
}
.massage-type .type-content .content-repeat .description .title {
  color: #63d2a3;
  font-size: 18px;
}
.massage-type .type-content .content-repeat .description .content {
  color: #aaacab;
}
.massage-type .center-location {
  width: 200px;
  margin: auto;
}
.massage-type .booking-btn {
  width: 200px;
  height: 35px;
  background-color: #00d6a0;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  margin-top: 70px;
}
