html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "xt-gothamLight";
  src: url("../fonts/myfont/Gotham-Light.ttf");
}
.font-gotham-title {
  font-family: "xt-gothamLight";
  transform: scale(1, 0.9);
}
@font-face {
  font-family: "GothamNarrow-Bold";
  src: url("../fonts/myfont/GothamNarrow-Bold.ttf");
}
@font-face {
  font-family: "Gotham Rounded Book";
  src: url("../fonts/myfont/GothamRounded-Book.otf");
}
::-webkit-scrollbar {
  width: 0;
}
.container-fluid {
  padding: 0;
}
.navbar {
  border-radius: 0;
}
.nav-style {
  height: 65px;
  margin: 0;
  padding-top: 5px;
  padding-left: 3%;
  border-bottom: 1px solid #d1fbe8;
  background-color: transparent;
  font-size: 16px;
  font-family: 微软雅黑;
}
.nav-style .nav-headTitle {
  margin-top: -5px;
}
@media all and (max-width: 768px) {
  .nav-style .nav-headTitle {
    text-align: center;
  }
}
.nav-style .header-title {
  color: #96e8c7 !important;
  font-size: 20px;
  margin-left: 10%;
  font-family: Gotham Rounded Book;
}
.nav-style .header-title:hover,
.nav-style .header-title:focus,
.nav-style .header-title:visited {
  text-decoration: none;
}
.nav-style .deep-color {
  color: #00d4a2 !important;
  margin-left: -20px;
  font-weight: bolder;
}
.nav-style .nav-pages {
  float: right;
  margin-right: 5%;
}
.nav-style .nav-pages a {
  padding-left: 10px;
  padding-right: 10px;
  color: #cac7c1 !important;
  background-color: transparent;
  font-size: 14px;
}
.nav-style .nav-pages a:hover {
  color: #9a9691 !important;
  background-color: transparent;
}
.nav-style .nav-pages a:focus {
  font-weight: bold;
}
.nav-style a.nav-pages-signIn {
  color: #77e2bd !important;
}
.nav-style a.nav-pages-signIn:hover {
  color: #46ddb6 !important;
}
.footer {
  height: 300px;
  color: white;
  background-color: #00ac87;
  text-align: center;
}
.footer .footer-title {
  padding-top: 7%;
  font-size: 18px;
}
.footer .title-firstWord {
  color: #9ee8d1;
  opacity: 0.6;
}
.footer .footer-message {
  font-size: 12px;
}
.footer .first-line {
  margin-top: 1%;
}
/* 平板 */
@media all and (max-width: 1024px) {
  .footer {
    height: 250px;
  }
}
@media all and (max-width: 768px) {
  .footer {
    height: 200px;
  }
}
