<nav class="navbar navbar-default nav-style" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" (click)="openMenu()">
      <span class="sr-only">qieh</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-headTitle">
            <span class="navbar-brand">
                <a class="header-title" href="/assets/ppt/publish/MobileMassages.htm" target="_blank">Mobile</a>
            </span>
      <span class="navbar-brand">
                <a class="header-title deep-color" href="/assets/ppt/publish/MobileMassages.htm" target="_blank">massages</a>
            </span>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="target-menu">
    <div class="nav-pages">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" id="defaultBtn">Home</a></li>
        <li><a routerLink="/booking">Booking</a></li>
        <li><a routerLink="/therapist">Therapist</a></li>
        <li><a routerLink="/styles">Styles</a></li>
        <li><a routerLink="/pricing">Pricing</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
        <li><a routerLink="/login" class="nav-pages-signIn">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--加一个没有navbar-fixed-top的防止顶栏浮动导致的内容上移-->
<!--<nav class="navbar" role="navigation"></nav>-->

<div class="rightSlideMenu">
  <div class="filter">
  </div>
  <div class="menu">
    <div class="headline">
      <div class="titleMenu">MENU</div>
      <div class="titleName">
        <div class="first">Mobile</div>
        <div class="second">massages</div>
      </div>
      <div class="closeBtn" ng-click="closeMenu()">x</div>
    </div>
    <div class="navGroup">
      <div (click)="closeMenu()" class="navItem"><a routerLink="/home">Home</a></div>
      <div (click)="closeMenu()" class="navItem"><a routerLink="/booking">Booking</a></div>
      <div (click)="closeMenu()" class="navItem"><a routerLink="/therapist">Therapist</a></div>
      <div (click)="closeMenu()" class="navItem"><a routerLink="/styles">Styles</a></div>
      <div (click)="closeMenu()" class="navItem"><a routerLink="/pricing">Pricing</a></div>
      <div (click)="closeMenu()" class="navItem"><a routerLink="/faq">FAQ</a></div>
      <div (click)="closeMenu()" class="navItem"><a routerLink="/contactus">Contact Us</a></div>
      <div (click)="closeMenu()" class="navItem"><a routerLink="/login" class="nav-pages-signIn" >Login</a></div>
    </div>
  </div>
</div>
