<link rel="stylesheet" href="./css/forgetPassword.css">
<div class="forgetPassword container center-block">
    <div class="row flex-center title font-gotham-title">Forget your password?</div>
    <div class="content">
        <div class="row inputGroup center-block">
            <div class="inputItem col-xs-12">
                <div class="describe">Email address</div>
                <input type="text">
            </div>
        </div>
        <div class="forgetPasswordBtn flex-center">RESET MY PASSWORD</div>
    </div>
</div>
