<link rel="stylesheet" href="../css/home.css">
<div class="home">

    <div class="home-title">
        <img>
    </div>

    <div class="date-booking">
        <div class="firsttitle">LONDON MOBILE MASSAGE</div>
        <div class="secondtitle">Book a spa quality massage to your door</div>
        <div class="date-choose">
            <input type="date" placeholder="Today">
            <input  class="choose-time" type="time">
        </div>
        <button class="booking-btn">BOOK A MASSAGE</button>
    </div>

    <div class="date-message">
        <div class="location">
            <i class="fa fa-home" aria-hidden="true"></i>
            <div class="information">Massage delivered to your home,office,or hotel</div>
        </div>
        <div class="available">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <div class="information">Available 7 days a week .8am to midnight.Including holidays</div>
        </div>
        <div class="time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <div class="information">We can be there in 1 hour or schedule in advance</div>
        </div>
    </div>

    <div class="date-therapists">
        <div class="title">PROFESSIONAL MOBILE MASSAGE THERAPISTS</div>
        <div class="therapists-img">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
        <button class="booking-btn">BOOK MY MASSAGE</button>
    </div>

    <div class="massage-typebgc">
        <div class="massage-type">
            <div class="type-title">CHOOSE YOUR MASSAGE TYPE</div>
            <div>

            </div>
            <button class="booking-btn">BOOK NOW</button>
        </div>
    </div>

    <div class="simple-pricing">
        <div class="eg-title">SIMPLE PRICING</div>
        <div class="eg-pricingList">
            <div class="eg-pricing">
                <div class="eg-time">60</div>
                <div class="eg-mnt">minutes</div>
                <div class="eg-price">£65</div>
            </div>
            <div class="eg-pricing">
                <div class="eg-time">90</div>
                <div class="eg-mnt">minutes</div>
                <div class="eg-price">£75</div>
            </div>
            <div class="eg-pricing">
                <div class="eg-time mg-left">120</div>
                <div class="eg-mnt">minutes</div>
                <div class="eg-price">£95</div>
            </div>
        </div>
        <button class="booking-btn">BOOK NOW</button>
    </div>

    <div class="faq">
        <div class="faq-title">FREQUENTLY ASKED QUESTIONS</div>
    </div>

    <div class="contact">
        <div class="contact-title">CONTACT US</div>
        <div class="contact-message">
            <div class="message1">We're just one phone call or click away from you.</div>
            <div class="message2">Call us or contact us using the form below.</div>
        </div>
        <div class="phonenum">
            <div class="phonenum-deepcolor">Phone:</div>
            <div class="phonenum-shallowcolor">11111 111 1111</div>
        </div>
        <div class="contact-form">
            <input class="form-name" type="text" placeholder="Your Name">
            <input class="form-email" type="text" placeholder="Your Email">
            <textarea class="form-content" placeholder="Your Message"></textarea>
        </div>
        <button class="booking-btn">SEND</button>
    </div>
</div>
