<link rel="stylesheet" href="./css/massageTherapist.css">
<div class="massageTherapist">
    <div class="font">
        <div class="theme centerBox">
            <div class="font-bold font-lx font-gothem grey centerContent">MASSAGE THERAPISTS</div>
            <div class="font-bold font-sx font-gothem green centerContent">
                Experienced,qualified&insured <br>
                professional therapist
            </div>
        </div>
        <div class="intro centerBox">
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face01.jpg" alt="">
                </div>
                <div class="contentBox">

                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Moly<br></span>
                        <br>He didn't say any more but we've always been unusually communicative in a reserved way, and I understood that he meant a great deal more than that. In consequence I'm inclined to reserve all judgments, a habit that has opened up many curious natures to me and also made me the victim of not a few veteran bores. The abnormal mind is quick to detect and attach itself to this quality when it appears in a normal person. </div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face02.jpg" alt="">
                </div>
                <div class="contentBox">

                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Alisa <br></span>
                        <br>Most of the confidences were unsought--frequently I have feigned sleep, preoccupation, or a hostile levity when I realized by some unmistakable sign that an intimate revelation was quivering on the horizon--for the intimate revelations of young men or at least the terms in which they express them are usually plagiaristic and marred by obvious suppressions.I am still a little afraid of missing something if I forget that.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face03.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Cassie <br></span>
                        <br>When I came back from the East last autumn I felt that I wanted the world to be in uniform and at a sort of moral attention forever; I wanted no more riotous excursions with privileged glimpses into the human heart. Only Gatsby, the man who gives his name to this book, was exempt from my reaction--Gatsby who represented everything for which I have an unaffected scorn. If personality is an unbroken series of successful gestures. </div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face04.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Daisy <br></span>
                        <br>My family have been prominent, well-to-do people in this middle-western city for three generations. The Carraways are something of a clan and we have a tradition that we're descended from the Dukes of Buccleuch, but the actual founder of my line was my grandfather's brother who came here in fifty-one, sent a substitute to the Civil War and started the wholesale hardware business that my father carries on today.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face05.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Bunny <br></span>
                        <br>I never saw this great-uncle but I'm supposed to look like him--with special reference to the rather hard-boiled painting that hangs in Father's office. I graduated from New Haven in 1915, just a quarter of a century after my father, and a little later I participated in that delayed Teutonic migration known as the Great War. I enjoyed the counter-raid so thoroughly that I came back restless. Instead of being the warm center. </div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face06.jpg" alt="">
                </div>
                <div class="contentBox">

                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Estelle<br></span>
                        <br>There was so much to read for one thing and so much fine health to be pulled down out of the young breath-giving air. I bought a dozen volumes on banking and credit and investment securities and they stood on my shelf in red and gold like new money from the mint, promising to unfold the shining secrets that only Midas and Morgan and Maecenas knew. And I had the high intention of reading many other books besides.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face07.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Jasmine <br></span>
                        <br>It was a matter of chance that I should have rented a house in one of the strangest communities in North America. It was on that slender riotous island which extends itself due east of New York and where there are, among other natural curiosities, two unusual formations of land. Twenty miles from the city a pair of enormous eggs, identical in contour and separated only by a courtesy bay, jut out into the most domesticated . </div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face08.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Emily <br></span>
                        <br>Why they came east I don't know. They had spent a year in France, for no particular reason, and then drifted here and there unrestfully wherever people played polo and were rich together. This was a permanent move, said Daisy over the telephone, but I didn't believe it--I had no sight into Daisy's heart but I felt that Tom would drift on forever seeking a little wistfully for the dramatic turbulence of some irrecoverable football game.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face09.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Beata <br></span>
                        <br>And so it happened that on a warm windy evening I drove over to East Egg to see two old friends whom I scarcely knew at all. Their house was even more elaborate than I expected, a cheerful red and white Georgian Colonial mansion overlooking the bay. The lawn started at the beach and ran toward the front door for a quarter of a mile, jumping over sun-dials and brick walks and burning gardens--finally when it reached the house drifting up . </div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face10.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Becky <br></span>
                        <br>Two shining, arrogant eyes had established dominance over his face and gave him the appearance of always leaning aggressively forward. Not even the effeminate swank of his riding clothes could hide the enormous power of that body--he seemed to fill those glistening boots until he strained the top lacing and you could see a great pack of muscle shifting when his shoulder moved under his thin coat.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face11.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Cherry <br></span>

                        <br>We walked through a high hallway into a bright rosy-colored space, fragilely bound into the house by French windows at either end.

                        The windows were ajar and gleaming white against the fresh grass outside that seemed to grow a little way into the house. A breeze blew through the room, blew curtains in at one end and out the other like pale flags, twisting them up toward the frosted wedding cake of the ceiling--and then rippled over the wine-colored rug, making a shadow on it as wind does on the sea.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face12.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Christina <br></span>
                        <br>The only completely stationary object in the room was an enormous couch on which two young women were buoyed up as though upon an anchored balloon. They were both in white and their dresses were rippling and fluttering as if they had just been blown back in after a short flight around the house. I must have stood for a few moments listening to the whip and snap of the curtains and the groan of a picture on the wall.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face13.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Fiona <br></span>
                        <br>The younger of the two was a stranger to me. She was extended full length at her end of the divan, completely motionless and with her chin raised a little as if she were balancing something on it which was quite likely to fall. If she saw me out of the corner of her eyes she gave no hint of it--indeed, I was almost surprised into murmuring an apology for having disturbed her by coming in.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face14.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Grace <br></span>
                        <br>I looked at Miss Baker wondering what it was she "got done." I enjoyed looking at her. She was a slender, small-breasted girl, with an erect carriage which she accentuated by throwing her body backward at the shoulders like a young cadet. Her grey sun-strained eyes looked back at me with polite reciprocal curiosity out of a wan, charming discontented face. It occurred to me now that I had seen her.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face15.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Gwendolyn <br></span>
                        <br>Sometimes she and Miss Baker talked at once, unobtrusively and with a bantering inconsequence that was never quite chatter, that was as cool as their white dresses and their impersonal eyes in the absence of all desire. They were here--and they accepted Tom and me, making only a polite pleasant effort to entertain or to be entertained. They knew that presently dinner would be over and a little later.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face16.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Jacqueline <br></span>
                        <br>Miss Baker and I exchanged a short glance consciously devoid of meaning. I was about to speak when she sat up alertly and said "Sh!" in a warning voice. A subdued impassioned murmur was audible in the room beyond and Miss Baker leaned forward, unashamed, trying to hear. The murmur trembled on the verge of coherence, sank down, mounted excitedly, and then ceased altogether.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face17.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Joyce <br></span>
                        <br>Among the broken fragments of the last five minutes at table I remember the candles being lit again, pointlessly, and I was conscious of wanting to look squarely at every one and yet to avoid all eyes. I couldn't guess what Daisy and Tom were thinking but I doubt if even Miss Baker who seemed to have mastered a certain hardy skepticism was able utterly to put this fifth guest's shrill. </div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face18.jpg" alt="">
                </div>
                <div class="contentBox">

                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Yolanda <br></span>
                        <br>Already it was deep summer on roadhouse roofs and in front of wayside garages, where new red gas-pumps sat out in pools of light, and when I reached my estate at West Egg I ran the car under its shed and sat for a while on an abandoned grass roller in the yard. The wind had blown off, leaving a loud bright night with wings beating in the trees and a persistent organ sound as the full bellows.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face19.jpg" alt="">
                </div>
                <div class="contentBox">

                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Vivian <br></span>
                        <br>The horses, needless to say, were not mentioned again. Tom and Miss Baker, with several feet of twilight between them strolled back into the library, as if to a vigil beside a perfectly tangible body, while trying to look pleasantly interested and a little deaf I followed Daisy around a chain of connecting verandas to the porch in front. In its deep gloom we sat down side by side on a.</div>
                </div>
            </div>
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face20.jpg" alt="">
                </div>
                <div class="contentBox">
                    <div class="content font-bolderest fontSm font-gothem">
                        <span class="marXXBottom font-bolder green fontLg font-gothem"> Lisa <br></span>
                        <br>Inside, the crimson room bloomed with light. Tom and Miss Baker sat at either end of the long couch and she read aloud to him from the "Saturday Evening Post"--the words, murmurous and uninflected, running together in a soothing tune. The lamp-light, bright on his boots and dull on the autumn-leaf yellow of her hair, glinted along the paper as she turned a page with a flutter of slender.</div>
                </div>
            </div>


        </div>

    </div>
</div>
