<link rel="stylesheet" href="./css/massageTherapist.css">
<div class="massageTherapist">
    <div class="font">
        <div class="theme centerBox">
            <div class="font-bold font-lx font-gothem grey centerContent">MASSAGE THERAPISTS</div>
            <div class="font-bold font-sx font-gothem green centerContent">
                Experienced,qualified&insured <br>
                professional therapist
            </div>
        </div>
        <div class="intro centerBox">
            <div class="item flexRow mar-xxtop centerBox">
                <div class="picBox centerBox">
                    <img class="pic" src=".\img\face\face01.jpg" alt="">
                </div>
                <div class="content">
                    <span class="font-bold green fontLg"> MOLY</span>
                </div>
            </div>
            <div class="item bgWhite flexResRow mar-xxtop"></div>
            <div class="item bgWhite mar-xxtop mar-xxtop"></div>
            <div class="item bgBlack mar-xxtop mar-xxtop"></div>


        </div>

    </div>
</div>
