<link rel="stylesheet" href="./css/pricing.css">
<div class="pricing">
    <div class="title centerBox">
        <div class="font-bolder font-lx font-gothem green">PRICING</div>
    </div>
    <div class="content">


        <div ng-repeat="price in prices">
            <div class="tit centerBox">
                <div class="font-boldererst font-gothem grey tite">{{price.therapistNumber}} Therapist</div>
            </div>
            <div ng-repeat="item in price.priceList" class="item centerBox">
                <div class="text font-gothem grey centerBox">
                    <div><span class="frontNum">{{item.time}}</span>minutes&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£{{item.price}}</div>
                </div>
            </div>
        </div>

        <!--<div class="tit centerBox">-->
            <!--<div class="font-xxboldererst font-gothem grey tite">1 Therapist</div>-->
        <!--</div>-->
        <!--<div ng-repeat="item in prices1" class="item centerBox">-->
            <!--<div class="text font-gothem grey centerBox">-->
                <!--<div><span class="frontNum">{{item.time}}</span>minutes&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£{{item.price}}</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="tit centerBox mar-xxtop">-->
            <!--<div class="font-boldererst font-gothem grey tite">2 Therapist</div>-->
        <!--</div>-->
        <!--<div ng-repeat="item2 in prices2" class="item centerBox">-->
            <!--<div class="text font-gothem grey centerBox">-->
                <!--<div><span class="frontNum">{{item2.time}}</span>minutes&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£{{item2.price}}</div>-->
            <!--</div>-->
        <!--</div>-->


        <div class="button centerBox">
            <button class="booking-btn font-xxbolderest" ng-click="booking()">BOOK NOW</button>
        </div>
    </div>
</div>