<link rel="stylesheet" href="./css/pricing.css">
<div class="pricing">
    <div class="title centerBox">
        <div class="font-bolder font-lx font-gothem green">PRICING</div>
    </div>
    <div class="content">
        <div class="tit centerBox">
            <div class="font-boldererst font-gothem grey tite">1 Therapist</div>
        </div>
        <div class="item centerBox">
            <div class="text font-gothem grey centerBox">
                <div><span class="frontNum">60</span>minute&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£65</div>
            </div>
        </div>
        <div class="item centerBox">
            <div class="text font-gothem grey centerBox">
                <div><span class="frontNum">90</span>minute&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£75</div>
            </div>
        </div>
        <div class="item centerBox">
            <div class="text font-gothem grey centerBox">
                <div><span class="frontNum">120</span>minute&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£95</div>
            </div>
        </div>
        <div class="tit centerBox mar-xxtop">
            <div class="font-boldererst font-gothem grey tite">2 Therapist</div>
        </div>
        <div class="item centerBox">
            <div class="text font-gothem grey centerBox">
                <div><span class="frontNum">60</span>minute&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£130</div>
            </div>
        </div>
        <div class="item centerBox">
            <div class="text font-gothem grey centerBox">
                <div><span class="frontNum">90</span>minute&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£150</div>
            </div>
        </div>
        <div class="item centerBox">
            <div class="text font-gothem grey centerBox">
                <div><span class="frontNum">120</span>minute&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp£190</div>
            </div>
        </div>
        <div class="button centerBox">
            <button class="booking-btn font-xxbolderest">BOOK NOW</button>
        </div>
    </div>
</div>