<link rel="stylesheet" href="./css/signUp.css">
<div class="signUp container center-block">
    <div class="row flex-center title font-gotham-title">Sign up</div>
    <div class="row inputGroup center-block">
        <div class="inputItem col-xs-12">
            <div class="describe">First name</div>
            <input type="text">
        </div>
        <div class="inputItem col-xs-12">
            <div class="describe">Last name</div>
            <input type="text">
        </div>
        <div class="inputItem col-xs-12">
            <div class="describe">Email address</div>
            <input type="text">
        </div>
        <div class="inputItem col-xs-12">
            <div class="describe">Mobile number</div>
            <input type="text">
        </div>
        <div class="inputItem col-xs-12">
            <div class="describe">Choose a password</div>
            <input type="text">
        </div>
    </div>
    <div class="faceBookBtn flex-center">
        <span class="fa fa-facebook"></span>
        Sign up with Facebook
    </div>
    <div class="signUpBtn flex-center">SIGN UP</div>
    <div class="flex-center itemAgreement">By signing up, I agree to mobile massages' </div>
    <div class="flex-center itemAgreement"> terms of use, privacy policy. </div>


</div>