<link rel="stylesheet" href="./css/step.css">
<div class="step3 container-fluid center-block">
    <div class="row title flex-center">Create your account or sign in</div>
    <div class="row title flex-center">to your existing account to continue</div>
    <div class="content">
        <div class="radioInputGroup  row">
            <div class="row flex-verticalAlign radioInputItem">
                <input type="checkbox" >
                <div>I'm a new customer</div>
            </div>
            <div class="row flex-verticalAlign radioInputItem">
                <input type="checkbox">
                <div>I have an account</div>
            </div>
            <div class="row"></div>
        </div>
        <div class="faceBookBtn flex-center">
            <span class="fa fa-facebook"></span>
            Sign in with Facebook
        </div>
        <div class="divide flex-center">
            <div class="line">—————————————</div>
            <div class="describe">or</div>
            <div class="line">—————————————</div>
        </div>
    </div>
</div>