<link rel="stylesheet" href="./css/step.css">
<div class="step3 container-fluid center-block">
    <div class="row title flex-center">Create your account or sign in</div>
    <div class="row title flex-center">to your existing account to continue</div>
    <div class="content">
        <div class="radioInputGroup  row">
                <div class="row flex-verticalAlign radioInputItem" ng-init="showType=0">
                    <input type="radio" ng-model="showType" ng-value="0" id="new">
                    <label for="new">I'm a new customer</label>
                </div>
                <div class="row flex-verticalAlign radioInputItem">
                    <input type="radio" ng-model="showType" ng-value="1" id="registered">
                    <label for="registered">I have an account</label>
                </div>
        </div>
        <div class="faceBookBtn flex-center">
            <span class="fa fa-facebook"></span>
            Sign in with Facebook
        </div>
        <div class="divide flex-center">
            <div class="line">—————————————</div>
            <div class="describe">or</div>
            <div class="line">—————————————</div>
        </div>
        <div ng-show="showType===0" >
            <div class="row inputGroup center-block">
                <div class="inputItem col-xs-12">
                    <div class="describe" >First name</div>
                    <input type="text" ng-model="firstName">
                </div>
                <div class="inputItem col-xs-12">
                    <div class="describe">Last name</div>
                    <input type="text" ng-model="lastName">
                </div>
                <div class="inputItem col-xs-12">
                    <div class="describe">Email address</div>
                    <input type="text" ng-model="emailAddress">
                </div>
                <div class="inputItem col-xs-12">
                    <div class="describe">Mobile number</div>
                    <input type="text" ng-model="mobileNumber">
                </div>
                <div class="inputItem col-xs-12">
                    <div class="describe">Choose a password</div>
                    <input type="text" ng-model="passWord">
                </div>
            </div>
            <button class="step-btn signUp flex-center">CONTINUE</button>
            <div class="flex-center itemAgreement">By clicking "continue" above, you are agreeing to </div>
            <div class="flex-center itemAgreement">  our terms of service agreement. </div>
        </div>
        <div ng-show="showType===1">
            <div class="row inputGroup center-block">
                <div class="inputItem col-xs-12">
                    <div class="describe">Email address</div>
                    <input type="text" ng-model="emailAddress">
                </div>
                <div class="inputItem col-xs-12">
                    <div class="describe">Password</div>
                    <input type="text" ng-model="passWord">
                </div>
            </div>
            <div class="hint flex-center">
                <div class="text">Forget Password?</div>
            </div>
            <button class="step-btn flex-center">CONTINUE</button>
        </div>
        <div class="step-back">
            <i class="fa fa-angle-left left-icon"></i>
            <span class="right-font">Back</span>
        </div>
    </div>

</div>