<link rel="stylesheet" href="./css/step.css">
<div class="step1">
    <div class="title">Book my massage</div>
    <div class="datetime">
        <div class="date">
            <span>Choose a date</span>
            <div><input type="text" id="datepicker" value="" placeholder="Today"></div>
        </div>
        <div class="time">
            <span>Time</span>
            <div><input type="text" id="timepicker" value=""></div>
        </div>
    </div>
    <div class="btn-continue" ng-click="continue()">CONTINUE</div>
</div>