<link rel="stylesheet" href="./css/step.css">
<div class="step2">
    <div class="step-title">Customize my massage</div>
    <div class="choose">
        <div ng-repeat="choose in chooses">
            <span class="step-tips">{{choose.type}}</span>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle choose-select"
                        type="button" id="{{choose.id}}"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="choose-item">
                        <span id="chooseLength">{{choose.chooseoption}}</span>
                        <i class="fa fa-chevron-down"></i>
                    </span>
                </button>
                <ul class="dropdown-menu choose-option" aria-labelledby="{{choose.id}}">
                    <li ng-repeat="option in choose.options" ng-click="changeChoose(choose,option)">
                        <a href="">{{option}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="therapist">
        <div class="title">Choose your therapist</div>
        <div class="available">Available:</div>
        <div class="people">
            <div ng-repeat="therapist in therapists">
                <img class="img" ng-src="{{therapist.img}}" alt="{{therapist.name+'\'s image'}}"
                     ng-click="toggleTherapist(therapist)" id="{{therapist.name}}">
                <div class="name">{{therapist.name}}</div>
            </div>
        </div>
        <div class="intro" ng-repeat="therapist in chooseTherapist">
            <div class="intro-name">{{therapist.name}}</div>
            <div class="intro-content">{{therapist.intro}}</div>
        </div>
    </div>
    <button class="step-btn" ng-click="continue()">CONTINUE</button>
    <div class="tip">
        By clicking "Continue" above, you are agreeing to our Terms of Service agreement.
    </div>
    <div class="back">
        <i class="fa fa-angle-left left-icon"></i>
        <span class="right-font">Back</span>
    </div>
</div>


