
<link rel="stylesheet" href="./css/successfulBooking.css">
<div class="successfulbooking">
    <div class="font height">
        <div class="font-bold font-lx font-GardenEmpty grey center">THANK YOU!</div>
        <img class="check-size" src=".\img\check.png" alt="">
        <div class="font-bold font-lx font-GardenEmpty green center">SUCCESSFUL BOOKING</div>
        <div class="font-sx light-grey center mar-xxtop">
            We have sent your booking <br>
            details to <span class="font-sx light-grey font-italic">johndoe@gmail.com</span>
        </div>
    </div>
</div>