<link rel="stylesheet" href="./css/test.css">
<h1>我是测试</h1>
<div class="todolist">
    <div class="items">
        <div class="item" ng-repeat="todo in todos | orderBy:'id':false">
            <div class="index">{{$index + 1}}</div>
            <input class="content" ng-model="todo.content" ng-blur="update(todo)">
            <div class="mybtn delete" ng-click="delete(todo)">Delete</div>
        </div>
    </div>
    <div class="end">
        <button class="mybtn add" ng-click="add()">添加</button>
    </div>
</div>


You may cancel or reschedule your appointment up to 1 hour before the appointment time with no penalty
<ul>
    <li>If you reschedule with less than 1 hour's notice,you will be charged a $35/￡25 fee*</li>
    <li>If you reschedule with less than 30 minutes'notice,you will be charged a $50/￡35 fee*</li>
    <li>If you cancel with less than 1 hour's notice,you will be charged a $50/￡35 fee*</li>
    <li>If you cancel with less than 30 minutes,you will be charged the full amount of the massage*</li>
    <li>If a therapist has not yet been assigned to your appointment you will not be charged.</li>
</ul>