<div class="massage-type">
  <div class="type-title">CHOOSE YOUR MASSAGE TYPE</div>
  <div class="type-title-mobile">Massage</div>
  <div class="type-content">
    <div *ngFor="let item of datas" class="content-repeat">
      <div class="image"><img [src]="item.img"></div>
      <div class="description">
        <div class="title">{{item.title}}</div>
        <div class="content">{{item.content}}</div>
      </div>
    </div>
  </div>
  <div class="center-location">
    <button class="booking-btn" (click)="booking()">BOOK NOW</button>
  </div>
</div>

