@import "../step.component.common";

.step1 {

  padding-bottom: 115px;
  .datetime {
    width: 280px;
    height: 180px;
    margin: auto;

    input {
      height: 40px;
      width: 100%;
      outline: none;
      border: 2px solid #e9e9e9;
      padding-left: 10px;
      color: rgba(0, 0, 0, 0.2);
      font-weight: bold;
      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }

    .date {

    }

    .time {
      margin-top: 20px;
    }
  }

}
