//4个step公用的css
.step-title {
  text-align: center;
  font-size: 41px;
  color: rgba(0, 0, 0, 0.4);
  height: 100px;
  line-height: 100px;
  font-family: xt-gothamLight;
  transform: scale(0.8, 0.9);
}

@media screen and (max-width: 420px) {
  .step-title {
    font-size: 26px;
  }
}

.step-btn {
  display: block;
  width: 220px;
  height: 45px;
  line-height: 45px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background-color: #64d2a3;
  color: white;
  outline: none;
  border: none;
}
@media screen and(max-width: 420px) {
  .step-btn {
    width: 280px;
  }
}

.step-btn:active {
  border: 1px solid #999999;
}

.step-tips {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

.step-back {
  width: 65px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 80px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  .left-icon {
    font-size: 30px;
    font-weight: 100;
  }

  .right-font {
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
  }
}

.help-block {
  color: red;
}

.button-disable {
  background-color: rgba(0, 0, 0, 0.5);
}

