<div class="contact">
  <div class="contact-title">CONTACT US</div>
  <div class="contact-message">
    <div class="message1">We're just one phone call or click away from you.</div>
    <div class="message2">Call us or contact us using the form below.</div>
  </div>
  <div class="phonenum">
    <div class="phonenum-deepcolor">Phone:</div>
    <div class="phonenum-shallowcolor">11111 111 1111</div>
  </div>
  <div class="contact-form">
    <input class="form-name" type="text" placeholder="Your Name">
    <input class="form-email" type="text" placeholder="Your Email">
    <textarea class="form-content" placeholder="Your Message"></textarea>
  </div>
  <button class="booking-btn">SEND</button>
</div>
